<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <fieldset>
    <legend><b>This is a Home Component from Home Module</b></legend>
    <!-- this home component is from home module and not app module -->
    <app-home></app-home>
  </fieldset>


  <fieldset>
    <legend><b>This is also from a Home Module and not a App Module</b></legend>
    <!-- for the contact we cannot directly access it because it is a part of home module and not a app module -->
    <app-contact></app-contact>
  </fieldset>


  <fieldset>
    <legend><b>This is also from a Home Module and not a App Module</b></legend>
    <!-- for the services we cannot directly access it because it is a part of home module and not a app module -->
    <app-services></app-services>
  </fieldset>

  <fieldset>
    <legend><b>This is from a AllModule Module and not a App Module</b></legend>
    <!-- for the services we cannot directly access it because it is a part of home module and not a app module -->
    <app-education></app-education>
  </fieldset>


</body>
</html>